/* shared styles */
*{
   margin: 0;
   padding: 0;
}

body{
   font-family: 'Poppins', sans-serif;
}

/* header styles */
header{
   padding: 80px 20px 20px 20px;
}

/* nav styles */
nav{
   max-width: 1440px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   padding-bottom: 50px;
}

.logo a{
   color: #3A3A3A;
   font-size: 1.5rem;
   font-weight: 700;
   text-decoration: none;
}

nav>ul{
   display: flex;
}

nav ul li{
   list-style: none;
   margin-right: 34px;
}

nav ul li:last-child{
   margin-right: 0;
}

nav ul li a{
   color: #3A3A3A;
   font-size: 1rem;
   font-weight: 600;
   text-decoration: none;
}

/* banner styles */
.banner{
   max-width: 1440px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 40px;
}

.banner-content{
   max-width: 582px;
}

.banner-title{
   color: #3A3A3A;
   font-size: 3.25rem;
   font-weight: 700;
   line-height: 70px;
}

.banner-description{
   color: #3A3A3A;
   font-size: 1rem;
   font-weight: 600;
   margin-top: 10px;
   margin-bottom: 20px;
}

.btn-primary{
   color: #FFF;
   font-size: 1rem;
   font-weight: 700;
   border-radius: 41px;
   background: #E02C6D;
   cursor: pointer;
   border: 0;
   padding: 12px 24px;
}
.btn-primary i{
   margin-left: 10px;
}

.banner-image{
   background-image: url('../images/circle-design.svg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: 99%;
}

.banner-image img{
   width: 490px;
   padding: 10px 0;
}

/* sponsor styles */

.sponsor-container{
   max-width: 1110px;
   margin: 50px auto;
   padding: 20px;
}

.sponsor{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   gap: 20px;
}

.sponsor img{
   height: 35px;
}


/* collection styles */
.collection{
   max-width: 1110px;
   margin: 50px auto;
   padding: 50px 20px;
}

.collection-title{
   color: #3A3A3A;
   font-size: 1.75rem;
   font-weight: 600;
   line-height: 70px;
   text-align: center;
   margin-bottom: 50px;
}

.collection-container{
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   justify-content: space-evenly;
   align-items: center;
}

.single-collection{
   display: flex;
   flex-direction: column;
   width: 28%;
   padding: 15px;
   border-radius: 5px;
   background: #FFF;
   box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.single-collection-title{
   color: #18191F;
   font-size: 28px;
   font-weight: 500;
   line-height: 40px;
   text-decoration: none;
   margin-top: 20px;
}

.product-price{
   color: rgba(0, 0, 0, 0.87);
   font-size: 1.5rem;
   font-weight: 400;
}

.ratings{
   display: flex;
}

.ratings i{
   color: #FB8200;
}

.ratings .black-white{
   color: transparent;
}

.score{
   color: #5E6366;
   font-size: 14px;
   font-weight: 700;
   line-height: 22px;
   letter-spacing: 0.1px;
}

.see-more{
   text-align: right;
   padding-top: 30px;
}

.see-more a{
   color: rgba(224, 44, 109, 0.87);
   font-size: 1rem;
   font-weight: 700;
   text-decoration: none;
}

.see-more i{
   margin-left: 15px;
}

/* feature styles */
.feature{
   max-width: 1110px;
   margin: 50px auto;
   padding: 0 20px;
}

.feature-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
}

.feature-img{
   width: 35%;
}

.feature-img img{
   width: 100%;
}

.feature-content{
   width: 60%;
}

.feature-title{
   color: #0A0826;
   font-size: 2.37rem;
   font-weight: 700;
   line-height: 60px;
}

.feature-description{
   color: #6C6C6C;
   font-size: 1rem;
   font-weight: 700;
   line-height: 28px;
}

.feature-content .btn-primary{
   border-radius: unset;
   margin-top: 15px;
}

footer{
   background: #0A0826;
   text-align: center;
   padding: 50px 20px;
}

.footer-logo a{
   color: #FFF;
}

footer p{
   color: #D9DBE1;
   font-size: 14px;
   font-weight: 300;
   line-height: 24px;
}

.social-icon {
   padding: 15px 0;
   display: flex;
   gap: 15px;
   justify-content: center;
}

.social-icon i{
   padding: 10px;
   color: #D9DBE1;
   background-color: #22213C;
   border-radius: 50%;
}







/* media for mobile  */
@media screen and (max-width: 576.99px){

   header{
      padding: 40px 16px 40px 16px;
   }

   nav{
      flex-direction: column;
      align-items: start;
      padding-bottom: 20px;
   }

   .logo a {
      font-size: 1rem;
   }

   nav>ul{
      flex-direction: column;
      margin-top: 20px;
   }

   nav ul li {
      margin-right: 20px;
   }

   .banner{
      padding-top: 20px;
      flex-direction: column-reverse;
      text-align: center;
   }

   .banner-title {
      font-size: 1.75rem;
      line-height: 40px;
      margin-top: 20px;
   }

   .banner-description{
      font-size: 14px;
   }

   .banner-image img {
      width: 100%;
   }

   .collection-container {
      flex-direction: column;
   }

   .single-collection {
      flex-direction: column;
      width: 90%;
   }

   .collection-title {
      margin-bottom: 20px;
   }

   .product-description br{
      display: none;
   }
   header,
   .banner,
   .collection,
   .sponsor-container,
   .feature,
   .feature-content,
   .feature-img,
   footer {
      width: 100%;
   }

   .feature-container{
      flex-direction: column-reverse;
      text-align: center;
   }

   .feature-title{
      color: #0A0826;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: normal;
   }

   
  
}

/* medium device */
@media screen and (min-width: 577px) and (max-width: 767.98px){

   .banner{
      padding-top: 20px;
      flex-direction: column-reverse;
      text-align: center;
   }

   .banner-title {
      font-size: 2.25rem;
      line-height: 40px;
      margin-top: 20px;
   }

   .banner-title br{
      display: none;
   }

   .banner-description{
      font-size: 14px;
   }

   .single-collection {
      width: 40%;
   }

   .collection-title {
      margin-bottom: 20px;
   }

   .feature-container {
      flex-direction: column;
   }

   .feature-img {
      width: 100%;
   }

   .feature-content {
      width: 100%;
      text-align: center;
   }

}


/* medium device */
@media screen and (min-width: 577px) and (max-width: 960.99px){

   header {
      padding-top: 50px;
   }

   .banner{
      padding-top: 20px;
      flex-direction: column-reverse;
      text-align: center;
   }

   .banner-title {
      font-size: 2.25rem;
      line-height: 40px;
      margin-top: 20px;
   }

   .banner-title br{
      display: none;
   }

   .banner-description{
      font-size: 14px;
   }

   .single-collection {
      width: 40%;
   }

   .collection-title {
      margin-bottom: 20px;
   }

   .feature-container {
      flex-direction: column;
   }

   .feature-img {
      width: 100%;
   }

   .feature-content {
      width: 100%;
      text-align: center;
   }

}

/* medium device */
@media screen and (min-width: 961px) and (max-width: 1200px){

   .banner-image img {
      width: 450px;
   }

}